In [3]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_excel(r"C:\Users\bartd\Erasmus\Erasmus_\Jaar 4\Master Econometrie\Seminar\UnileverCase\Data\UFS_Universe_NL.xlsx")
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>operatorId</th>
      <th>name</th>
      <th>address</th>
      <th>postalCode</th>
      <th>city</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>globalChannel</th>
      <th>cuisineType</th>
      <th>closed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>/ ChIJ--0P4kpLx0cRO2iA0Sf6ZkY /</td>
      <td>'t Brunke</td>
      <td>Sint Nicolaasstraat 2, 6041 EH Roermond, Nethe...</td>
      <td>6041 EH</td>
      <td>Roermond</td>
      <td>51.195881</td>
      <td>5.984512</td>
      <td>Cafe</td>
      <td>Unknown</td>
      <td>OPERATIONAL</td>
    </tr>
    <tr>
      <td>1</td>
      <td>2795484429 / ChIJ--17ntTjxUcR7UDCPpIqMWE /</td>
      <td>Enfes</td>
      <td>Pieter Calandlaan</td>
      <td>1068NH</td>
      <td>Amsterdam</td>
      <td>52.353989</td>
      <td>4.810633</td>
      <td>Fast food restaurant</td>
      <td>Unknown</td>
      <td>OPERATIONAL</td>
    </tr>
    <tr>
      <td>2</td>
      <td>/ ChIJ--3jn-IkyEcRh88iTuMs7BA /</td>
      <td>de Bakker &amp; de Schenker</td>
      <td>Brink 15, 9401 HT Assen, Netherlands</td>
      <td>9401 HT</td>
      <td>Assen</td>
      <td>52.994075</td>
      <td>6.562568</td>
      <td>Other Restaurant</td>
      <td>Unknown</td>
      <td>OPERATIONAL</td>
    </tr>
    <tr>
      <td>3</td>
      <td>3000334749 / ChIJ--KqKRR5xkcRQBF8Ghfl6Qg /</td>
      <td>Theetuin De Kwakel</td>
      <td>Noord-Linschoterzandweg</td>
      <td>3425EL</td>
      <td>Snelrewaard</td>
      <td>52.029636</td>
      <td>4.881653</td>
      <td>Cafe</td>
      <td>Unknown</td>
      <td>OPERATIONAL</td>
    </tr>
    <tr>
      <td>4</td>
      <td>/ ChIJ--aBe7kJxkcRj3waPQO288U / eb7015b6-a137...</td>
      <td>Restaurant Looks</td>
      <td>Binnen Bantammerstraat 7, 1011 CH Amsterdam, N...</td>
      <td>1011 CH</td>
      <td>Amsterdam</td>
      <td>52.373925</td>
      <td>4.902064</td>
      <td>Other Restaurant</td>
      <td>Unknown</td>
      <td>CLOSED_PERMANENTLY</td>
    </tr>
  </tbody>
</table>
</div>